:root {
    /* Primary colors */
    --dark-blue: hsl(217, 28%, 15%); /* intro and email sign up background */
    --dark-blue-main: hsl(218, 28%, 13%); /* main background */
    --dark-blue-footer: hsl(216, 53%, 9%); /* footer background */
    --dark-blue-testimonials: hsl(219, 30%, 18%); /* testimonials background */
    /* Accent color */
    --cyan: hsl(176, 68%, 64%); /* inside call-to-action gradient */
    --blue: hsl(198, 60%, 50%); /* inside call-to-action gradient */
    --light-red: hsl(0, 100%, 63%); /* errors */
    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    /* Fonts */
    --fuente-cuerpo: 'Open Sans', sans-serif; /* body font */
    --fuente-titulos: 'Raleway', sans-serif; /* Headings, Call-to-actions, Header Navigation */
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    background: url("../images/bg-curvy-desktop.svg"), 
                linear-gradient(to bottom, var(--dark-blue), 
                                            var(--dark-blue) 50%, 
                                            var(--dark-blue-main) 50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    color: var(--white);
    font-family: var(--fuente-cuerpo);
    font-size: 14px;
}
.contenedor {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}
h1,
h2 {
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
h3 {
    margin-bottom: .8em;
}
.parrafo {
    line-height: 1.6em;
}

/* -----------    MENU SUPERIOR    ------------*/

.menu-superior {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    background-color: var(--dark-blue);
    padding-top: 2.5em;
    padding-bottom: 2em;
/*     position: fixed; */
}
.menu-superior ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 50px;
}
.menu-superior ul li {
    margin-right: 20px;
    margin-left: 25px;
}
.menu-superior__logo {
    height: 2em;
    margin-left: 2.5em;
}

/* ------------   SECCIÓN HERO   ---------------*/

.s-hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.s-hero__img {
    width: 90%;
}
.s-hero__parrafo, 
.s-hero__h1 {
    width: 80%;
}

/* ------------ SECCIÓN FEATURES ------------*/

.s-features {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.s-features__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}
.s-features__item img {
    padding-bottom: 25px;
}

/* ---------- SECCIÓN CLAIM -------------*/
.s-claim {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 50px;
}
.s-claim__img {
    height: 90%;
}
.s-claim__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}
.s-claim__h2 {
    width: 60%;
    margin-left: 0;
}
.s-claim__p {
    margin-bottom: 17px;
}
.s-claim header {
    margin-left: 0;
}
.s-claim__a {
    margin-left: 0;
    color: var(--cyan);
    text-decoration: none;
}
.s-claim__a:hover,
.s-claim__a:active {
    color: var(--white);
}
.s-claim__a::after {
    content: "See how Fylo works";
    display: block;
    background: url("../images/icon-arrow.svg") no-repeat;
    background-position: right;
    width: 150px;
    height: 20px;
    float: right;
    border-bottom: 1px solid var(--cyan);
}

/* -------- SECCIÓN TESTIMONIOS ---------*/

.s-testimonios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 80%;
    grid-gap: 30px;
    padding: 35px 10px;
    background-image: url("../images/bg-quotes.png");
    background-repeat: no-repeat;
    background-position: top left;
}
.s-testimonios__item {
    background-color: var(--dark-blue-testimonials);
    padding: 35px 25px;
    filter: drop-shadow(2px 2px 3px var(--black));
}
.s-testimonios_retrato {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 0;
}
.s-testimonios__heading {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.s-testimonios__id {
    margin-left: 15px;
}
.s-testimonios__cargo {
    font-size: .7em;
}
.s-testimonios__nombre {
    font-size: .8em;
}

/* ---------- SECCIÓN FORMULARIO -----------*/
.s-formulario {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--dark-blue-main), 
                                            var(--dark-blue-main) 50%, 
                                            var(--dark-blue-footer) 50%);
}
.s-formulario__form {
    width: 60%;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    filter: drop-shadow(2px 2px 5px var(--black));
}
.s-formulario__form__texto {
    width: 65%;
    text-align: center;
}
.s-formulario__form__subs {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;

}
/* -------------   MENU PIE  -------------*/
.menu-pie {
    background-color: var(--dark-blue-footer);
}

/* ----------  BOTONES & INPUT  -----------*/
.i-email {
    padding: 15px 35px;
    margin-right: 20px;
    border-radius: 50px;
    border: 0;
}
.boton {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    color: var(--white);
    background: linear-gradient(to right, var(--cyan), var(--blue));
}
.boton:active {
    background: linear-gradient(to right, var(--white), var(--cyan));
    cursor: pointer;
}
.boton:hover {
    cursor: pointer;
}
.b-form {
    padding: 15px 30px;
}
.b-getstarted {
    padding: 15px 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}





.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}